<%= flash.now[:details_error] %>
<% if flash[:errors] && !flash[:errors].empty? %>
  <ul class="shell-body" id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if flash.now[:notice] %>
  <%= flash.now[:notice] %>
<% end %>
