<% if current_user %>
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>
  Logged in as <%= current_user.username %>! Chit away!
<% else %>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign up">
  </form>
  <form action="/sessions/new" method="get">
    <input type="submit" value="Log in">
  </form>
<% end %>