<% if current_user %>
  Welcome <%= current_user.username %>! Chit away!
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>
  <form method="post" action="/create_chits">
    <label for="chit_field">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <input type="text" name="chit_text" placeholder="Chit here!" required autofocus>
      <input type="submit" value="Chit!">
    </label>
  </form>
<% else %>
<form action="/users/new" method="get">
  <input type="submit" value="Sign up">
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log in">
</form>
<% end %>