<div class="chits-shell-wrap">
  <p class="shell-top-bar">~/(<%= current_user.username %>)</p>
  <ul class="shell-body">
    <li>
      <form method="post" action="/chits/chit">
        <label for="chit_field">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="text" name="chit_text" placeholder="Chit here!" required autofocus>
          <input type="submit" value="Chit!">
        </label>
      </form>
    </li>
  </ul>
</div>
