<div class="sign_up">
  <p class="shell-top-bar">~/Fill in your details</p>
  <ul class="shell-body">
    <form action="/users" method="post">
      <li>
        <label for="full_name">
          <input type="text" name="full_name" placeholder="Full name" required>
        </label>
      </li>
      <li>
        <label for="username">
          <input type="text" name="username" placeholder="Username" required>
        </label>
      </li>
      <li>
        <label for="email">
          <input type="email" name="email" placeholder="Email" required>
        </label>
      </li>
      <li>
        <label for="password" >
          <input type="password" name="password" placeholder="Password" required>
        </label>
      </li>
      <li>
        <label for="password_confirmation">
          <input type="password" name="password_confirmation" placeholder="Confirm password" required>
        </label>
      </li>
      <li>
        <input type="submit" value="Go!">
      </li>
    </form>
  </ul>
</div>
