<div class="recovery">
  <p class="shell-top-bar">~/Fill in your details</p>
  <ul class="shell-body">

    <form action="/users/recover" method="post">
      <label for="email">
        <li>Please enter your email address</li>
        <li><input type="email" name="email" placeholder="email" required></li>
        <li><input type="submit" value="Submit"></li>
      </label>
    </form>
  </ul>
</div>
  

