<form action="/users/new" method="get">
  <input type="submit" value="Sign up">
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log in">
</form>

<form action="/chits" method="get">
  <input type="submit" value="View chits">
</form>


<% if %>
  <%= flash.now[:details_error] %>
<% end %>
