<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/style.css" >
    <title>Chitter</title>
  </head>
  <body>
    <div class="nav-top">
      <%= partial :'partials/navbar' %>
    </div>
    <div id="wrapper">
        <%= partial :'partials/flash' %>
        <%= yield %>
    </div>
  </body>
</html>
