<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <%= partial :'partials/flash' %>
    <% if current_user %>
      <%= partial :'partials/welcome' %>
    <% else %>
      <%= partial :'partials/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
